<a href="https://colab.research.google.com/github/shisam2018/sciencewings/blob/master/ClassworkSCM_DT_Regressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Regression of Petrol Consumption**

**Step 1**: Improting Libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

**Step 2**: Import Dataset

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving petrol_consumption.csv to petrol_consumption.csv

In [ ]:
import io
dataset = pd.read_csv(io.BytesIO(uploaded['petrol_consumption.csv']))

**Step 3**: EDA

In [ ]:
dataset.head()

   Petrol_tax  Average_income  ...  Population_Driver_licence(%)  Petrol_Consumption
0         9.0            3571  ...                         0.525                 541
1         9.0            4092  ...                         0.572                 524
2         9.0            3865  ...                         0.580                 561
3         7.5            4870  ...                         0.529                 414
4         8.0            4399  ...                         0.544                 410

[5 rows x 5 columns]

In [ ]:
dataset.describe()

       Petrol_tax  ...  Petrol_Consumption
count   48.000000  ...           48.000000
mean     7.668333  ...          576.770833
std      0.950770  ...          111.885816
min      5.000000  ...          344.000000
25%      7.000000  ...          509.500000
50%      7.500000  ...          568.500000
75%      8.125000  ...          632.750000
max     10.000000  ...          968.000000

[8 rows x 5 columns]

**Step 4**: Date Prep

In [ ]:
X = dataset.drop("Petrol_Consumption", axis=1)
y = dataset['Petrol_Consumption']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test =  train_test_split(X, y, test_size=0.2, random_state=0)

**Step 5**: Prediction Model by Regression

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
y_pred

array([541., 414., 574., 554., 631., 644., 628., 649., 414., 464.])

**Step 6**: Evaluation of Result

In [ ]:
df = pd.DataFrame({'Actual':y_test,'Predicted':y_pred})
df

    Actual  Predicted
29     534      541.0
4      410      414.0
26     577      574.0
30     571      554.0
32     577      631.0
37     704      644.0
34     487      628.0
40     587      649.0
7      467      414.0
10     580      464.0

In [ ]:
from sklearn import metrics
print('Mean Absolute Error', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error 51.7
Mean Squared Error 4686.9
Root Mean Squared Error 68.46093776745977